.DS_Store

OnesFrontend.xcodeproj/project.xcworkspace/xcuserdata
OnesFrontend.xcodeproj/xcuserdata

OnesFrontend.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
OnesFrontend.xcworkspace/xcuserdata/*
Pods/Pods.xcodeproj/xcuserdata/*
